### Automated preprocessing with scikit learn

In [2]:
from warnings import filterwarnings
filterwarnings("ignore")

### Step 1 : Read the Dataset

In [3]:
import pandas as pd
df = pd.read_csv("Cars93.csv",na_values=["","NA"],keep_default_na=False)

In [4]:
df.head()

,id,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,1,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,4,Audi,100,Midsize,30.8,37.7,44.6,19,26,NaN,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,5,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i

### Step 2 Perform basic data quality check

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  93 non-null     int64
 1   Manufacturer        93 non-null     object
 2   Model               93 non-null     object
 3   Type                93 non-null     object
 4   Min.Price           93 non-null     float64
 5   Price               93 non-null     float64
 6   Max.Price           93 non-null     float64
 7   MPG.city            93 non-null     int64
 8   MPG.highway         93 non-null     int64
 9   AirBags             89 non-null     object
 10  DriveTrain          93 non-null     object
 11  Cylinders           93 non-null     object
 12  EngineSize          93 non-null     float64
 13  Horsepower          93 non-null     int64
 14  RPM                 93 non-null     int64
 15  Rev.per.mile        93 non-null     int64
 16  Man.trans.avail     93 non-null     object
 17  Fuel.tank.capacity  93 non-null     float64
 18  Passengers          93 non-null     int64
 19  Length              93 non-null     int64
 20  Wheelbase           93 non-null     int64
 21  Width               93 non-null     int64
 22  Turn.circle         93 non-null     int64
 23  Rear.seat.room      91 non-null     float64
 24  Luggage.room        82 non-null     float64
 25  Weight              93 non-null     int64
 26  Origin              93 non-null     object
 27  Make                93 non-null     object
dtypes: float64(7), int64(12), object(9)
memory usage: 20.5+ KB

In [8]:
m = df.isna().sum()
m[m>0]

AirBags            4
Rear.seat.room     2
Luggage.room      11
dtype: int64

In [9]:
df.duplicated().sum()

0

### Step 3 : Seperate X and Y
Weight ~ Remaining Feature

id is statistically insignificant

In [12]:
df.columns

Index(['id', 'Manufacturer', 'Model', 'Type', 'Min.Price', 'Price',
       'Max.Price', 'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain',
       'Cylinders', 'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile',
       'Man.trans.avail', 'Fuel.tank.capacity', 'Passengers', 'Length',
       'Wheelbase', 'Width', 'Turn.circle', 'Rear.seat.room', 'Luggage.room',
       'Weight', 'Origin', 'Make'],
      dtype='object')

In [14]:
x = df.drop(columns=["id","Weight"])
y = df[["Weight"]]

In [15]:
x.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,Front,...,13.2,5,177,102,68,37,26.5,11.0,non-USA,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,18.0,5,195,115,71,38,30.0,15.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,16.9,5,180,102,67,37,28.0,14.0,non-USA,Audi 90
3,Audi,100,Midsize,30.8,37.7,44.6,19,26,NaN,Front,...,21.1,6,193,106,70,37,31.0,17.0,non-USA,Audi 100
4,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,Rear,...,21.1,4,186,109,69,39,27.0,13.0,non-USA,BMW 535i

In [16]:
y.head()

   Weight
0    2705
1    3560
2    3375
3    3405
4    3640

### Step 4 : Preprocessing pipeline

In [23]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import make_pipeline

### numerical (continous values) - replace with mean or median
### categorical values - replace with mode or most_frequent

In [24]:
cat = x.columns[x.dtypes == "object"]
con = x.columns[x.dtypes != "object"]

In [25]:
# create a numerical pipeline
num_pipe = make_pipeline(
    SimpleImputer(strategy="median"),
    StandardScaler()

)

In [29]:
# create a categorical pipeline
cat_pipe = make_pipeline(
    SimpleImputer(strategy="most_frequent"),
    OneHotEncoder(handle_unknown="ignore", sparse_output=False)
)

In [30]:
# combine cat and con pipeline with colunntransformer
pre = ColumnTransformer([
    ("num",num_pipe,con),
    ("cat",cat_pipe,cat)
]).set_output(transform="pandas")

In [31]:
x_pre = pre.fit_transform(x)
x_pre

,num__Min.Price,num__Price,num__Max.Price,num__MPG.city,num__MPG.highway,num__EngineSize,num__Horsepower,num__RPM,num__Rev.per.mile,num__Fuel.tank.capacity,...,cat__Make_Toyota Camry,cat__Make_Toyota Celica,cat__Make_Toyota Previa,cat__Make_Toyota Tercel,cat__Make_Volkswagen Corrado,cat__Make_Volkswagen Eurovan,cat__Make_Volkswagen Fox,cat__Make_Volkswagen Passat,cat__Make_Volvo 240,cat__Make_Volvo 850
0,-0.485787,-0.375720,-0.282465,0.471312,0.360925,-0.841022,-0.073484,1.717489,1.129530,-1.062184,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.388017,1.497844,1.531409,-0.781032,-0.770514,0.515869,1.078322,0.369586,0.005661,0.409445,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.008658,0.998227,0.948052,-0.423219,-0.581941,0.128186,0.540813,0.369586,-0.105713,0.072197,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.571949,1.893374,2.069191,-0.602126,-0.581941,0.128186,0.540813,0.369586,0.410659,1.359872,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.755752,1.091905,1.303535,-0.065407,0.172352,0.806631,1.231897,0.706562,0.430909,1.359872,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,-0.060445,0.019810,0.073018,-0.959938,-1.524806,-0.162577,-0.668585,-1.315292,1.180155,1.359872,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
89,0.054512,0.051036,0.045673,-0.244313,0.172352,-0.647181,-0.188665,0.875050,0.714407,0.562740,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
90,0.663786,0.394523,0.164167,-0.781032,-0.770514,0.128186,0.655993,0.875050,0.106911,0.562740,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
91,0.537333,0.332071,0.145937,-0.244313,-0.204794,-0.356418,-0.572601,0.201098,-0.237337,-0.265051,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
92,0.882205,0.748418,0.601684,-0.423219,-0.204794,-0.259498,0.464025,1.549001,-0.044963,0.808011,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

### Step 5 : Train Test Split

In [32]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x_pre,y,test_size=0.2,random_state=42)

In [33]:
xtrain.head()

,num__Min.Price,num__Price,num__Max.Price,num__MPG.city,num__MPG.highway,num__EngineSize,num__Horsepower,num__RPM,num__Rev.per.mile,num__Fuel.tank.capacity,...,cat__Make_Toyota Camry,cat__Make_Toyota Celica,cat__Make_Toyota Previa,cat__Make_Toyota Tercel,cat__Make_Volkswagen Corrado,cat__Make_Volkswagen Eurovan,cat__Make_Volkswagen Fox,cat__Make_Volkswagen Passat,cat__Make_Volvo 240,cat__Make_Volvo 850
65,-0.048950,-0.042642,-0.036362,-0.959938,-1.147660,0.322027,0.137680,-0.809828,-0.541086,1.022624,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,-0.278864,-0.334085,-0.355385,-0.781032,-1.147660,1.097393,0.502419,-0.809828,-1.300456,1.022624,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
68,-0.336343,-0.334085,-0.318925,0.113500,0.360925,-0.453339,-0.649388,-0.135877,0.471409,-0.050439,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
78,-0.911130,-0.875337,-0.820247,1.008032,1.680937,-0.744101,-1.129307,-0.472853,-0.379087,-1.184820,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30,-1.175531,-1.260459,-1.275994,1.544751,0.738071,-1.325626,-1.551637,-0.472853,1.656027,-2.043270,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
ytrain.head()

    Weight
65    4100
15    3715
68    2890
78    2495
30    1845

In [35]:
xtest.head()

,num__Min.Price,num__Price,num__Max.Price,num__MPG.city,num__MPG.highway,num__EngineSize,num__Horsepower,num__RPM,num__Rev.per.mile,num__Fuel.tank.capacity,...,cat__Make_Toyota Camry,cat__Make_Toyota Celica,cat__Make_Toyota Previa,cat__Make_Toyota Tercel,cat__Make_Volkswagen Corrado,cat__Make_Volkswagen Eurovan,cat__Make_Volkswagen Fox,cat__Make_Volkswagen Passat,cat__Make_Volvo 240,cat__Make_Volvo 850
40,-0.014462,0.030219,0.073018,0.292406,0.360925,-0.356418,0.310451,0.875050,1.058655,-0.234393,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,-1.060574,-1.073102,-1.029891,1.186938,0.738071,-1.131784,-0.994930,1.212025,1.929401,-1.062184,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
55,-0.060445,-0.042642,-0.018132,-0.781032,-0.959087,0.322027,0.214467,-0.472853,-0.186713,0.899988,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
72,-1.026087,-1.093920,-1.093695,1.544751,2.246656,-1.034864,-1.340472,0.538074,1.615527,-1.062184,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0,-0.485787,-0.375720,-0.282465,0.471312,0.360925,-0.841022,-0.073484,1.717489,1.129530,-1.062184,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Step 6 : Model building

In [37]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(xtrain,ytrain)

LinearRegression()

In [40]:
model.score(xtrain,ytrain)

1.0

In [41]:
model.coef_

array([[ 2.53755379e+01, -2.26702730e+01,  1.98811368e+01,
        -2.59030626e+01, -7.56292273e+01,  2.00396454e+01,
         1.28045913e+02, -3.97628838e+01, -1.78282007e+01,
         1.29083707e+01,  7.59292225e+01,  5.80058696e+01,
         1.25046379e+02,  8.24087098e+01,  3.36252377e+01,
        -2.84954736e+01,  9.43653914e+00, -2.52069957e+01,
         2.71356401e+01, -7.44318491e-01, -3.40948786e+01,
        -5.51137342e+01, -2.32189913e+01,  1.74190574e+01,
         5.98860960e+01,  5.97050679e+01, -3.68044714e+01,
         7.64859218e+00, -9.05294784e+00,  4.51222344e+01,
        -1.04611164e+01,  7.67183073e+00,  2.33492720e+01,
         2.16242597e+01, -2.79086187e+01, -3.85856346e+01,
         1.83619607e+01, -6.11163795e+01,  4.35453396e+01,
        -4.67968270e+01,  1.18827793e+01, -3.55390118e+01,
        -5.08948926e+01, -1.38503329e+01,  9.88834714e+00,
         9.71066768e+00,  4.63081079e+01,  8.49008651e+01,
         6.03506051e+00, -4.15625342e+01, -2.02166803e+01,
        -4.58077842e+00, -1.97695260e+01,  2.11793183e+01,
        -1.85099543e-01,  7.11137250e+00,  9.85948499e+00,
         6.84524384e+01, -5.19923445e+01,  3.37916504e+01,
         1.04606938e-01, -4.64889556e-01,  1.29207929e+01,
        -4.62514603e+01,  2.07997709e+01, -1.17095074e+01,
        -2.03249179e+01, -1.01845068e+01,  1.43943886e+01,
        -5.64358026e+01, -5.12233116e+01,  3.55089756e+01,
        -1.71539006e+01,  1.10622425e+01,  0.00000000e+00,
         1.36405280e+01,  2.13226309e+01,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  2.63892104e+01,
         1.21221263e+01,  1.43490415e+01, -5.89103547e+01,
         0.00000000e+00,  0.00000000e+00,  2.42929491e+01,
        -3.61129684e+01,  0.00000000e+00,  2.27649936e+01,
         7.01184786e+01,  3.62183996e+01, -3.93945664e+00,
        -2.45511366e+01, -1.88958339e+01,  8.38018252e+00,
         4.98238093e+01,  0.00000000e+00,  1.36852894e+01,
         1.17529865e+01,  9.83359901e+00,  0.00000000e+00,
        -4.55959799e+01,  5.37626681e+01, -3.20543230e+01,
        -5.78463614e+01,  6.74015695e+01,  5.08664117e-01,
         0.00000000e+00, -8.22709357e+01, -1.08241629e+01,
        -6.24025287e+01,  2.15284853e+01,  3.39527559e+01,
         0.00000000e+00,  3.15430917e+01, -5.09641586e+01,
        -2.09070651e+01,  5.47188035e+00,  9.02004195e+01,
        -3.57854126e+01,  8.33309697e+00,  1.69118708e+01,
         0.00000000e+00, -1.43193076e+01, -1.65565221e+01,
         2.34272848e+01,  0.00000000e+00,  2.10096682e+01,
        -2.42381968e+01, -3.56619635e+01, -1.53207700e+00,
         9.65069585e+01,  0.00000000e+00,  0.00000000e+00,
        -3.81265729e+01,  9.62022492e+00,  4.76437897e+01,
        -4.44102822e+01,  0.00000000e+00,  1.03588037e+00,
        -3.51029704e+01,  7.41606806e+00, -4.77151908e+01,
        -1.71516518e+01, -2.95002554e+01,  1.70399116e+01,
         6.47337056e+01, -1.55597004e+01,  1.62271916e+01,
        -6.12280181e-01,  4.68506098e+01, -3.09113372e+01,
        -1.70766195e+01,  1.21721697e+01, -6.96155135e+01,
         8.01640309e+01,  3.67304722e+01, -2.59542432e+01,
        -3.57854126e+01, -1.42383724e+00,  3.96354385e+00,
        -5.81385997e+01,  5.90440603e+01,  0.00000000e+00,
        -3.20543230e+01, -4.18361732e+01,  6.78853219e+01,
         0.00000000e+00, -1.75798541e+01, -4.55959799e+01,
         8.33309697e+00,  1.69118708e+01, -5.89103547e+01,
         0.00000000e+00, -4.61402333e+01, -1.18548244e+01,
         1.43151823e+01, -5.13662760e+01,  0.00000000e+00,
         0.00000000e+00,  6.74015695e+01,  5.08664117e-01,
         1.36405280e+01,  4.98238093e+01,  9.83359901e+00,
        -5.61957063e+01,  0.00000000e+00,  0.00000000e+00,
         2.10096682e+01, -1.53207700e+00,  9.65069585e+01,
         0.00000000e+00, -3.51029704e+01,  0.00000000e+00,
         1.21221263e+01,  2.27649936e+01, -3.93945664e+00,
         2.15284853e+01, -5.09641586e+01,  4.76437897e+01,
        -4.44102822e+01, -1.08241629e+01,  0.00000000e+00,
         3.34817078e+01,  1.10622425e+01,  0.00000000e+00,
         0.00000000e+00,  3.62183996e+01, -1.65565221e+01,
        -3.56619635e+01,  5.47188035e+00,  2.42929491e+01,
         0.00000000e+00,  2.13226309e+01,  1.03588037e+00,
         2.12583606e+01,  6.92812964e+00,  0.00000000e+00,
        -2.09070651e+01, -3.57854126e+01, -2.01961194e+01,
        -1.96527448e+01, -9.60210925e+00,  2.63892104e+01,
         0.00000000e+00, -6.24025287e+01,  1.33558183e+01,
        -8.22709357e+01,  9.02004195e+01,  2.34272848e+01,
         0.00000000e+00,  1.43490415e+01, -3.61129684e+01,
        -2.42381968e+01,  1.17529865e+01,  2.00569253e+01,
        -2.45511366e+01,  8.38018252e+00,  0.00000000e+00,
        -3.81265729e+01, -5.16604122e+01, -1.43193076e+01,
         1.36852894e+01,  5.37626681e+01, -5.78463614e+01,
         9.62022492e+00, -2.00871740e+01,  3.57954512e+01,
         3.15430917e+01,  0.00000000e+00,  0.00000000e+00,
         7.01184786e+01, -1.88958339e+01,  3.39527559e+01,
        -4.19612385e+00,  9.92339790e+00]])

### Step 7: Model Evaluation

In [48]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,mean_absolute_percentage_error,r2_score
def evaluate(model,x,y):
    ypred = model.predict(x)
    mse = mean_squared_error(y,ypred)
    rmse = mse**(1/2)
    mae = mean_absolute_error(y,ypred)
    mape = mean_absolute_percentage_error(y,ypred)
    r2score = r2_score(y,ypred)
    print(f"MSE : {mse:.2f}")
    print(f"RMSE : {rmse:.2f}")
    print(f"MAE : {mae:.2f}")
    print(f"MAPE : {mape:.4f}")
    print(f"R2Score : {r2score:.4f}")

In [49]:
evaluate(model,xtrain,ytrain)

MSE : 0.00
RMSE : 0.00
MAE : 0.00
MAPE : 0.0000
R2Score : 1.0000

In [51]:
evaluate(model, xtest,ytest)

MSE : 25974.44
RMSE : 161.17
MAE : 120.29
MAPE : 0.0408
R2Score : 0.9213

In [52]:
ypred_test = model.predict(xtest)
ypred_test[0:5]

array([[2912.66161678],
       [2333.55884916],
       [3789.07077755],
       [2123.45343654],
       [2726.51783476]])

In [54]:
ytest.head()

    Weight
40    2865
22    2270
55    3735
72    2350
0     2705

### Because R2 score of both train and test >0.8 hence above model is good and can be used for out of sample data

### Step 8 : out of sample data

In [55]:
xnew = pd.read_csv("sample.csv",na_values=["","NA"],keep_default_na=False)
xnew.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Origin,Make
0,Audi,100,Midsize,30.8,37.7,44.6,19,26,NaN,Front,...,15.0,6,190,106,65,37,31.0,17.0,non-USA,Audi 100
1,Pontiac,Sunbird,Compact,9.4,11.1,12.8,23,31,None,Front,...,15.2,5,181,101,66,39,25.0,13.0,USA,Pontiac Sunbird
2,Chevrolet,Lumina,Midsize,13.4,15.9,18.4,21,29,None,Front,...,16.5,6,198,108,71,40,28.5,16.0,USA,Chevrolet Lumina
3,Mazda,RX-7,Sporty,32.5,32.5,32.5,17,25,Driver only,Rear,...,20.0,2,169,96,69,37,NaN,NaN,non-USA,Mazda RX-7
4,Volkswagen,Fox,Small,8.7,9.1,9.5,25,33,None,Front,...,12.4,4,163,93,63,34,26.0,10.0,non-USA,Volkswagen Fox

In [56]:
pre

ColumnTransformer(transformers=[('num',
                                 Pipeline(steps=[('simpleimputer',
                                                  SimpleImputer(strategy='median')),
                                                 ('standardscaler',
                                                  StandardScaler())]),
                                 Index(['Min.Price', 'Price', 'Max.Price', 'MPG.city', 'MPG.highway',
       'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Fuel.tank.capacity',
       'Passengers', 'Length', 'Wheelbase', 'Width', 'Turn.circle',
       'Rear.seat.room', 'Luggage.room'],
      dtype='object')),
                                ('cat',
                                 Pipeline(steps=[('simpleimputer',
                                                  SimpleImputer(strategy='most_frequent')),
                                                 ('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse_output=False))]),
                                 Index(['Manufacturer', 'Model', 'Type', 'AirBags', 'DriveTrain', 'Cylinders',
       'Man.trans.avail', 'Origin', 'Make'],
      dtype='object'))])

In [57]:
xnew_pre = pre.transform(xnew)
xnew_pre

,num__Min.Price,num__Price,num__Max.Price,num__MPG.city,num__MPG.highway,num__EngineSize,num__Horsepower,num__RPM,num__Rev.per.mile,num__Fuel.tank.capacity,...,cat__Make_Toyota Camry,cat__Make_Toyota Celica,cat__Make_Toyota Previa,cat__Make_Toyota Tercel,cat__Make_Volkswagen Corrado,cat__Make_Volkswagen Eurovan,cat__Make_Volkswagen Fox,cat__Make_Volkswagen Passat,cat__Make_Volvo 240,cat__Make_Volvo 850
0,1.571949,1.893374,2.069191,-0.602126,-0.581941,0.128186,0.540813,0.369586,0.410659,-0.510323,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-0.888138,-0.875337,-0.829362,0.113500,0.360925,-0.647181,-0.649388,-0.135877,0.673908,-0.449005,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-0.428309,-0.375720,-0.318925,-0.244313,-0.016221,-0.453339,-0.649388,-0.135877,0.532158,-0.050439,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.767376,1.352122,0.966282,-0.959938,-0.770514,-1.325626,2.134145,2.054464,-0.014589,1.022624,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-0.968608,-1.083511,-1.130155,0.471312,0.738071,-0.841022,-1.206095,0.369586,0.441034,-1.307455,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [59]:
preds= model.predict(xnew_pre)
preds[0:5]

array([[3259.25071814],
       [2575.        ],
       [3195.        ],
       [2895.        ],
       [2240.        ]])

In [60]:
xnew["Weight_pred"]= preds
xnew

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Origin,Make,Weight_pred
0,Audi,100,Midsize,30.8,37.7,44.6,19,26,NaN,Front,...,6,190,106,65,37,31.0,17.0,non-USA,Audi 100,3259.250718
1,Pontiac,Sunbird,Compact,9.4,11.1,12.8,23,31,None,Front,...,5,181,101,66,39,25.0,13.0,USA,Pontiac Sunbird,2575.000000
2,Chevrolet,Lumina,Midsize,13.4,15.9,18.4,21,29,None,Front,...,6,198,108,71,40,28.5,16.0,USA,Chevrolet Lumina,3195.000000
3,Mazda,RX-7,Sporty,32.5,32.5,32.5,17,25,Driver only,Rear,...,2,169,96,69,37,NaN,NaN,non-USA,Mazda RX-7,2895.000000
4,Volkswagen,Fox,Small,8.7,9.1,9.5,25,33,None,Front,...,4,163,93,63,34,26.0,10.0,non-USA,Volkswagen Fox,2240.000000

In [61]:
xnew.to_csv("Results.csv",index=False)